body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 200px auto;
  height: 250px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 20px;
  position: relative;
}

.content {
  align-content: center;
}

h1 {
  padding: 40px 0 0 60px;
}

p {
  padding: 0 40px;
}

a {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.fab {
  float: right;
  font-size: 40px;
  color: white;
}
